{% extends '_partials/base.html' %}
{% block title %}Businesses{% endblock %}
{% block content %}
    <h1>The Businesses</h1>

    {% for location in locations %}
      <div>
        <h3><a href="{% url 'business' pk=location.pk %}" class="name">{{ location.name }}</a></h3>
        <p>{{ location.description|truncatewords:10}}</p>
        <dl>
          <dt>Hours:</dt>
          <dd>{{ location.hours }}</dd>
          <dt>Where:</dt>
          <dd>{{ location.location }}</dd>
          {% if location.menu %}
            <dt>menu:</dt>
            <dd>
                {{location.menu}}
            </dd>
          {%endif%}
          {% if location.website %}
            <dt>Website:</dt>
            <dd>
                ${{location.website}}
            </dd>
          {%endif%}
        </dl>
      </div>
    {% endfor %}
{% endblock %}
